@import '../../../variables.scss';

.learn-more{
    width: 100%;
    padding: 95px 0;
    color: $colorDarkGrey;
    background-color: $bgColorGrey;

    .learn-div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .learn-title{
            width: 25%;
            h2{
                font-size: 65px;
                line-height: 67px;
                margin-bottom: 50px;
            }
            .btn-more::after{
                top: 11px;
                right: 35px;
            }
        }
        // .learn-info{
        // }
    }
}

@media (max-width: 768px) {
    .learn-more{
        padding: 75px 0;
        .learn-div{
            flex-direction: column;
            .learn-title{
                width: 100%;
                h2 {
                    font-size: 50px;
                    line-height: 55px;
                }
            }
            .learn-info{
                width: 100%;
                margin-top: 40px;
            }
        }
    }
}
